{% extends "base.html.j2" %}
{% block title %}{{ title }} - credit-risk-explain{% endblock %}
{% block content %}
    <article class="wrap prose doc">
      <p class="crumb"><a href="index.html">credit-risk-explain</a> / {{ title }} &middot; <a href="{{ repo_url }}/blob/main/{{ source }}">view source</a></p>
{{ body | safe }}
    </article>
{% endblock %}
